<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist SYSTEM"file://localhost/System/Library/DTDs/PropertyList.dtd"><plist version="0.9"><dict>   <key>CFBundleExecutable</key>   <string>Klingon Language Lab</string>   <key>CFBundleName</key>   <string>Klingon Language Lab</string>   <key>CFBundleIdentifier</key>   <string></string>   <key>CFBundleInfoDictionaryVersion</key>   <string>6.0</string>   <key>CFBundleVersion</key>   <string>1.0.0d0</string>   <key>CFBundleDevelopmentRegion</key>   <string>it</string>   <key>CFBundlePackageType</key>   <string>APPL</string>   <key>CFBundleSignature</key>   <string>Nicola Avanzi</string>   <key>CFBundleGetInfoString</key>   <string></string>   <key>CFBundleShortVersionString</key>   <string></string>   <key>CFBundleIconFile</key>   <string>Klingon Language Lab.icns</string>   <key>CFBundleDocumentTypes</key>   <array>   </array></dict></plist>